[user]
	name = ignacio-ambia
	email = ignacio.ambia@gmail.com
# [core]
# 	editor = code
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	br = branch
	lg = log --pretty='format:%C(Yellow)%ad %Cred%h %C(Cyan)%an %Creset%s %Cgreen%d' --date=format:'%d-%m-%y %H:%M'
	l = lg -1
	s = status
	st = stash
	stl = stash list  --pretty='format:%C(Yellow)%ad %Cred%h  %Creset%s' --date=format:'%d-%m-%y %H:%M'
	stp = stash pop
	ck = checkout
	rsh = reset --hard
[diff]
	tool = smerge
[core]
	excludesfile = /Users/ignacioambia/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
